.info {
  margin: 30px auto 0;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
}
@media screen and (max-width: 900px) {
  .info {
    padding: 0 20px 0;
  }
}

.info__heading {
  font-family: "Piazzolla";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: #f2edff;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .info__heading {
    font-size: 20px;
    line-height: 28px;
  }
}

.info__containers {
  margin: 50px 0 0;
}
@media screen and (max-width: 900px) {
  .info__containers {
    margin: 30px 0 0;
  }
}

.info-item {
  margin: 0 0 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .info-item {
    margin: 0 0 30px;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 796px;
  min-width: 679px;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .info__container {
    min-width: auto;
  }
}

.info__main {
  width: 100%;
  display: flex;
  gap: 20px;
}

.info__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #f2edff;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .info__title {
    font-size: 20px;
    line-height: 27px;
  }
}

.info__number {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #9747ff;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .info__number {
    font-size: 20px;
    line-height: 27px;
  }
}

.info__description {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  white-space: pre-line;
}
@media screen and (max-width: 900px) {
  .info__description {
    font-size: 16px;
    line-height: 22px;
  }
}

.info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 524px;
  overflow-x: scroll;
}
.info__items::-webkit-scrollbar {
  display: none;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__image {
  max-width: 116px;
  max-height: 116px;
  border-radius: 8px;
  background-color: #ffffff;
}

.info__name {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2edff;
}
