.decoding {
  margin: 110px auto 0;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  padding: 0 50px;
}
@media screen and (max-width: 1200px) {
  .decoding {
    padding: 0 20px;
    margin: 0 auto 0;
  }
}

.decoding__title {
  font-family: "Piazzolla";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: #f2edff;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .decoding__title {
    font-size: 35px;
    line-height: 50px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__title {
    font-size: 20px;
    line-height: 28px;
  }
}

.decoding__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 40px auto 31px;
}
@media screen and (max-width: 1200px) {
  .decoding__container {
    margin: 30px auto 34px;
  }
  .decoding .decoding__container:nth-child(4) {
    margin: 30px auto 90px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__container {
    margin: 20px auto;
    flex-direction: column;
  }
  .decoding .decoding__container:nth-child(4) {
    margin: 30px auto;
  }
}

.decoding__text-container {
  max-width: 796px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .decoding__text-container {
    max-width: 452px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__text-container {
    max-width: 100%;
  }
}

.decoding__text {
  margin: 0 0 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
}
@media screen and (max-width: 900px) {
  .decoding__text {
    font-size: 16px;
    line-height: 22px;
  }
}

.decoding__image {
  width: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .decoding__image {
    width: 452px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__image {
    display: none;
  }
}

.decoding__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .decoding__grid-container {
    gap: 30px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__grid-container {
    gap: 25px;
  }
}

.decoding__grid-item {
  width: 150px;
  height: 150px;
  background: #f2edff;
  border-radius: 8px;
  padding: 32px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .decoding__grid-item {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__grid-item {
    width: 100px;
    height: 100px;
    padding: 8px 0;
  }
}

.decoding__grid-heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #222027;
  margin: 0;
}

.decoding__grid-subheading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #222027;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .decoding__grid-subheading {
    font-size: 16px;
    line-height: 22px;
  }
}

.decoding__items-container {
  margin-left: 34px;
}
@media screen and (max-width: 1200px) {
  .decoding__items-container {
    margin-left: 0;
  }
}

.decoding__items {
  padding: 0;
  margin: 0 0 10px 30px;
}
@media screen and (max-width: 900px) {
  .decoding__items {
    list-style-type: none;
    margin: 0;
  }
}

.decoding__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .decoding__item {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
  }
}

.decoding__points {
  margin: 0;
  padding: 0;
  margin: 0 0 10px 30px;
}
@media screen and (max-width: 900px) {
  .decoding__points {
    list-style-type: none;
    margin: 0;
  }
}

.decoding__point {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .decoding__point {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
  }
}

.decoding__mean-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px 0;
}
@media screen and (max-width: 1200px) {
  .decoding__mean-container {
    margin: 30px 0;
  }
}

.decoding__numbers {
  width: 524px;
  height: 350px;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .decoding__numbers {
    width: 455px;
    height: 530px;
  }
}
@media screen and (max-width: 900px) {
  .decoding__numbers {
    display: none;
  }
}
