.decoding {
  margin: 110px auto 0;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  padding: 0 50px;
}

/* @media screen and (max-width: 1440px) {
  .decoding {
    margin: 110px 50px 0;
    width: auto;
  }
} */

.decoding__title {
  font-family: "Piazzolla";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: #f2edff;
  margin: 0;
}

.decoding__container {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 40px auto 31px;
}

.decoding__text-container {
  max-width: 796px;
}

.decoding__text {
  margin: 0 0 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
}

.decoding__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.decoding__grid-item {
  width: 150px;
  height: 150px;
  background: #f2edff;
  border-radius: 8px;
  padding: 32px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.decoding__grid-heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #222027;
  margin: 0;
}

.decoding__grid-subheading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #222027;
  margin: 0;
}

.decoding__items-container {
  margin-left: 34px;
}

.decoding__items {
  padding: 0;
  margin: 0 0 10px 30px;
}

.decoding__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  margin: 0;
}

.decoding__points {
  margin: 0;
  padding: 0;
  margin: 0 0 10px 30px;
}

.decoding__point {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  margin: 0;
}

.decoding__mean-container {
  display: flex;
  gap: 20px;
  margin: 50px 0 50px;
}

.decoding__numbers {
  width: 524px;
  height: 350px;
  border-radius: 8px;
}
