.psychometric {
  box-sizing: border-box;
  margin: 0 auto 80px;
  width: 100%;
  max-width: 1440px;
  padding: 100px 50px 0;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 900px) {
  .psychometric {
    padding: 22px 20px 0;
    margin: 0 auto 10px;
  }
}

.psychometric__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .psychometric__container {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.psychometric__results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: column;
}
@media screen and (max-width: 900px) {
  .psychometric__results {
    gap: 25px;
  }
}

.psychometric__result {
  /* width: 100%; */
  width: 150px;
  /* height: 100%; */
  height: 150px;
  background: #f2edff;
  border-radius: 8px;
  padding: 32px 0 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .psychometric__result {
    width: 100px;
    height: 100px;
    padding: 8px 0;
  }
}

.psychometric__heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #222027;
  margin: 0;
}

.psychometric__subheading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #222027;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .psychometric__subheading {
    font-size: 16px;
    line-height: 22px;
  }
}

.psychometric__verticals {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .psychometric__verticals {
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.psychometric__item {
  /* width: 100%; */
  /* max-width: 150px; */
  width: 150px;
  /* height: 100%; */
  /* max-height: 150px; */
  height: 150px;
  background: #bd8cfe;
  border-radius: 8px;
  padding: 32px 0 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .psychometric__item {
    width: 100px;
    height: 100px;
    padding: 8px 0;
    margin: 0 auto;
  }
}

.psychometric__horizontals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .psychometric__horizontals {
    gap: 25px;
  }
}
