.header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(12, 11, 13, 1);
}
/* 
.header_overlay {
  background: rgba(12, 11, 13, 0.8);
} */

.header__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 20px 50px; */
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(11, 10, 12, 0.5);
}

.ReactModal__Content h2{
  margin: 0;
  margin-bottom: 10px;
}

.ReactModal__Content p{
  margin: 0;
  margin-bottom: 50px;
}

.ReactModal__Content button {
  padding: 5px;
  background: black;
  border-radius: 5px;
  color: white;
}

.ReactModal__Content {
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.2s ease-in-out, scale 0.5s ease-in-out;
}

.ReactModal__Content--after-open{
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Content--before-close{
  opacity: 0;
  transform: scale(0.9);
}

.header__links button.header__link:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* .header__container_active {
  padding: 20px 50px;
} */
@media screen and (max-width: 1200px) {
  .header__container {
    padding: 20px 50px;
    border-bottom: none;
  }

  .header__container_active {
    padding: 20px 50px;
  }
}
@media screen and (max-width: 900px) {
  .header__container {
    padding: 10px 20px;
  }
  .header__container_active {
    padding: 10px 20px;
  }
}

.header__logo {
  width: 252px;
  height: 45px;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    width: 170px;
    height: 50px;
  }
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: 50px;
    height: 27px;
  }
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 50px; */
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .header__links {
    display: none;
  }
}

.header__link {
  padding: 5px 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  border-radius: 10px;
  transition: background-color 0.05s ease-in-out;
}

.header__link_selected {
  font-weight: 700;
}

.header__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding: 0 25px; */
  min-width: 252px;
  height: 45px;
  border: 1px solid #f2edff;
  border-radius: 8px;
  background: transparent;
  text-decoration: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.header__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1250px) {
  .header__button {
    display: none;
  }
}

.header__button-logo {
  width: 24px;
  height: 22px;
}

.header__button-text {
  text-decoration: none;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
}

.header__burger {
  display: none;
  display: none;
  background: url(../../../assets/images/logos/burger.svg) center no-repeat;
  background-size: 44px 44px;
  width: 44px;
  height: 44px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 6;
}

@media screen and (max-width: 1250px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .header__burger {
    width: 34px;
    height: 27px;
  }
}

.header__burger_active {
  background-image: url(../../../assets/images/logos/burger_active.svg);
  background-size: 32px 32px;
}
.header__menu {
  position: absolute;
  top: 0;
  right: -200%;
  height: 0vh;
  z-index: 5;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 150px;
  transition: all 0.6s ease;
}
.header__menu_active {
  right: 0;
  height: 100vh;
}
@media screen and (max-width: 900px) {
  .header__menu {
    padding: 140px 0;
  }
  .header__menu_active {
    left: 0;
  }
}

.header__menu-link {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #f2edff;
  text-decoration: none;
  text-align: center;
}
