.page {
  /* max-width: 1440px; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  /* font-family: "Open Sans", sans-serif, Arial; */
  /* background: #222027; */
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background: radial-gradient(50% 50% at 50% 50%, #392f54 0%, #0b0a0c 100%);
  color: rgb(255, 255, 255);
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  position: relative;
}

.toTopButton {
  background: url(../images/logos/toTopButton.svg) center no-repeat;
  width: 100px;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  right: 100px;
  bottom: 100px;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #0c0b0d;
}
@media screen and (max-width: 1200px) {
  .toTopButton {
    background: url(../images/logos/toTopButton_mobile.svg) center no-repeat;
    width: 50px;
    height: 50px;
    right: 40px;
    bottom: 40px;
  }
}
