@import url(./vendor/normalize.css);
/* @import url(./vendor/opensans/openSans.css); */
/* @import url(./vendor/Piazzolla/Piazzolla.css); */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
