.footer {
  width: 100%;
  max-width: 1340px;
  margin: 70px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .footer {
    margin: 60px auto 20px;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    margin: 0 auto 20px;
    padding: 0 20px;
  }
}

.footer__button {
  box-sizing: border-box;
  border: none;
  padding: 13px 20px;
  width: 271px;
  /* height: 54px; */
  background: #9747ff;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #222027;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .footer__button {
    width: 252px;
  }
}
@media screen and (max-width: 900px) {
  .footer__button {
    width: 252px;
  }
}

.footer__container {
  width: 100%;
  margin: 130px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .footer__container {
    margin: 100px 0 0;
  }
}

.footer__text {
  margin: 0 0 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #f2edff;
}
@media screen and (max-width: 900px) {
  .footer__text {
    font-size: 13px;
    line-height: 18px;
  }
}

.footer__link {
  margin: 10px 0 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #bd8cfe;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .footer__link {
    font-size: 13px;
    line-height: 18px;
  }
}
